.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through;
}

body {
    background-color: #E3D2F4;
}

main {
    background-image: url('/9907df92eaf97953a9cf698aea077b2d.jpg');
    background-size: cover;
    border-radius: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2% 10% 10% 10%;
    text-align: center;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #AEDEFA;
    font-family: Lobster;
    font-size: 30px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 16px;
}

.input {
    background-color: #FBF5C5;
    padding: 30px;
    border-radius: 16px;
}

.buttons {
    padding: 20px;
    background-color: #FBF5C5;
    display: flex;
    justify-content:center;
    border-radius: 16px;
}

ol {
    display: inline-block;
    background-color: #F2C9C9;
}

header p {
    color: black;
    font-size: 20px;
}

button {
    padding: 8px;
    border: 2px solid #F2C9C9;
    border-radius: 16px;
    margin: 1px;
    background-color: #E3D2F4;  
}